.home a{
    color: #114C7B;
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    font-family: Neo Sans Arabic;

}
.home-link{
    margin-left: 40px;
    margin-top: 35px;
}
.home a:hover{
    text-decoration: none;
    color: #DCA249;
}



.content{
    position: relative;
    justify-content: center;
    
}
.vision{

    display: block;
    justify-content: center;
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    color: #114C7B;
    font-family: Neo Sans Arabic;
    margin-left: 1000px;
    margin-top: 150px;
}
.vision img{
    position: absolute;
    margin-left: 90px;
    margin-top: -00px;

}
.vision p{
    position: absolute;
    margin-left: -360px;
    margin-top: -100px;
    margin-bottom: 500px;
    white-space: pre-line;
    direction: rtl;
     
}



.message{

    display: block;
    justify-content: center;
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    color: #114C7B;
    font-family: Neo Sans Arabic;
    margin-left: 1000px;
    margin-top: 150px;
}
.message img{
    position: absolute;
    margin-left: 110px;
    margin-top: -00px;

}
.message p{
    position: absolute;
    margin-left: -446px;
    margin-top: -100px;
    margin-bottom: 500px;
    white-space: pre-line;
    direction: rtl;
     
}



.goals{

    display: block;
    justify-content: center;
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    color: #114C7B;
    font-family: Neo Sans Arabic;
    margin-left: 1000px;
    margin-top: 150px;
}
.goals img{
    position: absolute;
    margin-left: 130px;
    margin-top: -00px;

}
.goals p{
     
    position: absolute;
    margin-left: -360px;
    margin-top: -95px;
    margin-bottom: 500px;
    white-space: pre-line;
    direction: rtl;
    
     
}

