.home a{
    color: #114C7B;
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    font-family: Neo Sans Arabic;

}
.home-link{
    margin-left: 40px;
    margin-top: 35px;
}
.home a:hover{
    text-decoration: none;
    color: #DCA249;
}





