*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family:Neo Sans Arabic;
    list-style: none;
    
}


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto;
    padding: 10px;
    max-width: 1200px;

}

.navigation ul{
    background: #ffffff;
    width: -300px;
    display: flex;
    list-style-type: none;
    gap: 200px;
    margin: 10px 10px 10px 80px;
    font-weight: 700;
    font-size: 22px;
    margin: 10px -100px;
    
     

}

.navigation li{
    width: 120px;
    align-items: center;
}

.navigation a{
    text-decoration: none;
    color: #0A4A7A;


}

.navigation a:hover{
    text-decoration: none;
    color: #DCA249;


}

.LOGO{
    position: relative;
    height: 180px;
    width: 180px;
    padding: 10px;
    margin: 20px;
    left: 160px;

}

hr{
    color: #0A4A7A;
}

.slogan{
    position: absolute;
    margin: 200px;
    top: -250;
    text-align: right;
    padding: 250px 0 20px 1300px;
    margin: 100px 0 0 0 ;
    align-items: center;
    margin-bottom: 20px;
     
}

.slogUp{
    width: 500px;
    color: #0A4A7A;
    position: absolute;
    font-weight: 900;
    font-size: 40px;
}
.slogUp li{
    margin-bottom: 20px;
}
.slogDown{
    width: 800px;
    color: #DFA33D;
    position: absolute;
    font-weight: 500;
    font-size: 21px;
    margin: 200px 100px 200px -300px;
    top: 280px;
}
 

/* .engslog{
    color: #DFA33D;
    position: absolute;
    font-weight: 500;
    font-size: 21px;
    text-align: right;
    padding: 250px 0 0 1000px;
    margin: 300px 0 0 310px;
     
} */

.hero{
    width: 2000px;
    margin: -20px;     
    align-items: center;
    
}

.wellcome ul{
    background: #ffffff;
    position: absolute;
    width: 1800px;
    height: 400px;
    margin: 150px;
    padding: 20px 20px 20px 20px;
    gap: 20px;
    
}

.wellcome li{
    margin-bottom: 40px;
}


.buttom{
    position: absolute;
    background: #11507D;
    width: 2048px;
    height: 200px;
    top: 2000px;
}

.buttom-icon{
    position: relative;
    width: 120px;
    left: 100px;
    bottom: -55px;
}
.buttom-icon1{
    position: relative;
    width: 400px;
    left: 1500px;
    bottom: -55px;

}