*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family:Neo Sans Arabic;
    list-style: none;
    
}


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto;
    padding: 10px;
    max-width: 1200px;

}

.navigation ul{
    width: -200px;
    display: flex;
    list-style-type: none;
    gap: 200px;
    margin: 10px 10px 10px 80px;
    font-weight: 700;
    font-size: 22px;
    margin: 10px 30px;

}

.navigation a{
    text-decoration: none;
    color: #0A4A7A;


}

.navigation a:hover{
    text-decoration: none;
    color: #DCA249;


}

.LOGO{
    height: 150px;
    width: 150px;
    padding: 10px;

}

hr{
    color: #0A4A7A;
}

.slogan{
    color: #0A4A7A;
    position: absolute;
    font-weight: 900;
    font-size: 50px;
    text-align: right;
    padding: 250px 0 0 1000px;
     
}
.wellcome{
    margin: 150px;
    gap: 20px;
    
}
