*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family:Neo Sans Arabic;
    list-style: none;
    
}


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto;
    padding: 10px;
    max-width: 1200px;

}

.navigation ul{
    background: #ffffff;
    width: -300px;
    display: flex;
    list-style-type: none;
    gap: 200px;
    margin: 10px 10px 10px 80px;
    font-weight: 700;
    font-size: 22px;
    margin: 10px -100px;
    
     

}

.navigation li{
    width: 120px;
    align-items: center;
}

.navigation a{
    text-decoration: none;
    color: #0A4A7A;


}

.navigation a:hover{
    text-decoration: none;
    color: #DCA249;


}

.LOGO{
    position: relative;
    height: 140px;
    width: 140px;
    padding: 10px;
    margin: 20px;
    left: 160px;

}

hr{
    color: #0A4A7A;
}

.slogan{
    position: absolute;
    top: 50px;
    text-align: right;
    padding: 250px 0 20px 1200px;
    margin: 100px 0 0 0 ;
    align-items: center;
    margin-bottom: 10px;
     
}

.slogUp{
    width: 500px;
    color: #0A4A7A;
    position: absolute;
    font-weight: 900;
    font-size: 30px;
    margin-right: 600px;
    left: 900px;
}
.slogDown{
    width: 800px;
    color: #DFA33D;
    position: absolute;
    font-weight: 500;
    font-size: 21px;
    margin: 160px 100px 200px -600px;
    top: 280px;
}
.button{
    position: absolute;
    margin: 280px 0 0 -20px;
}
.register{
    position: absolute;
    margin: 6% 0 0 -77%;
    color: aliceblue;
    text-decoration: none;
    font-weight: 700;
    font-size: 30px;

}
.slogUp li{
    margin-bottom: 30px;
}
 

/* .engslog{
    color: #DFA33D;
    position: absolute;
    font-weight: 500;
    font-size: 21px;
    text-align: right;
    padding: 250px 0 0 1000px;
    margin: 300px 0 0 310px;
     
} */

.hero{
    width: 1500px;
    margin: -20px;     
    align-items: center;
    
}


.wellcome{
    position: absolute;
    width: 621.94px;
    left: calc(50% - 621.94px/2 - 0.03px);
    top: 130%;
    bottom: 20%;
    justify-content: center;
    align-items: center;
    margin-left: 2%;
} 
.in-the-home{
    position: absolute;
    width: 710px;
    height: 55px;
    left: calc(50% - 621.94px/2 - 0.03px);
    top: 1250px;

    font-family: 'Neo Sans Arabic';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 140.29%;
    /* or 48px */
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

    color: #0F4173;

}
.wellcome-irtqa{
    position: absolute;
    width: 710px;
    height: 56px;
    left: calc(50% - 621.94px/2 - 0.03px);
    top: 1360px;
    justify-content: center;
    margin-top: -10px;
}

 




 